.about
{
    height: 100%;
    padding: 20px;
    background-color: rgb(221, 189, 251);
    text-align: center;
}

.about h2{
    font-size: 30px;
}

.about p{
    padding: 60px;
}
 .about h1{
    font-size: 30px;
    padding-bottom: 10px;
 }

 .about ul {
    font-size: 20px;
 } 

 