.about {
  padding: 30px 20px;
  background-color: #fff3e0;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.about ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  max-width: 500px;
  margin: 0 auto;
  font-size: 1rem;
}
