.hero{
    height: 100%;
    padding: 20px;
    background: rgb(220, 218, 218);
    text-align: center;
    align-items: center;
}

.hero p{
    padding: 60px;
}

.hero img{
    width: 400px;
    height: 400px;
}


 

 
